<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <!-- ARTICLE -->

    <article>
      <h1>Projectboard.📌</h1>
      <!-- <p>Bekijk en voeg partners van Vervoerregio toe en controlleer hen op toegankelijkheid.</p> -->
      <button type="button" class="selecteer-richtlijn-button" id="selecteer-richtlijn-button">Website
        Toevoegen</button>
    </article>

    <!-- DIALOG -->

    <dialog id="selecteer-richtlijn-dialog">
      <form action="/projectboard" method="post">
        <h2>Website toevoegen.</h2>
        <label>
          Voeg een nieuwe link toe*
          <input required type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>">
        </label>
        <label>
          Selecteer bijhorende partner*
          <select required name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
            <% websitesData.forEach(website=> { %>
              <option value="<%= website.id %>">
                <%= website.titel %>
              </option>
              <% }) %>
          </select>
        </label>

        <button type="submit">Toevoegen</button>
      </form>
    </dialog>

    <main>
      <section>
        <h2>Projecten Lijst</h2>
        <div class="project-list">
          <% urlsData.forEach(url=> { %>
            <section class="info">
              <h3>
                <%= url.website.titel %>
              </h3>
              <a href="<%= url.url %>">
                <%= url.url %>
              </a>
            </section>
            <% }) %>
        </div>
      </section>
    </main>

    <%- include('./partials/foot') %>