<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <article>
      <h1>Projectboard</h1>
      <p>Controleer via deze tool uw website op toegankelijkheid en help het web toegankelijk te maken voor iedereen.
      </p>
      <button>Doe de test</button>
    </article>

    <form action="/new" method="post">
      <h2>Website toevoegen.</h2>
      <label>
        Selecteer Partner *
        <select name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
          <% data.websites.forEach(website=> { %>
            <option value="<%= website.id %>">
              <%= website.titel %>
            </option>
            <% }) %>
        </select>
      </label>

      <label>
        Website URL *
        <input type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>">
      </label>

      <button type="submit">Toevoegen</button>
    </form>

    <% data.websites.forEach(website=> { %>
      <ul>
        <li>
          <%= website.titel %>
        </li>
      </ul>
      <% }) %>

        <%- include('./partials/foot') %>