<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <!-- ARTICLE -->

    <article class="intro">
      <h1>Project board.</h1>
      <p>Voeg websites toe aan onze tool en controleer onze partners op toegankelijkheid.
      </p>
      <button>Doe de test</button>
    </article>

    <!-- FORM -->

    <form action="/new" method="post">
      <h2>Website toevoegen.</h2>
      <label>
        Selecteer Partner *
        <select name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
          <% data.websites.forEach(website=> { %>
            <option value="<%= website.id %>">
              <%= website.titel %>
            </option>
            <% }) %>
        </select>
      </label>

      <label>
        Website URL *
        <input type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>">
      </label>

      <button type="submit">Toevoegen</button>
    </form>

    <%- include('./partials/foot') %>