<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <article>
      <h1>Instrumentarium🔧</h1>
      
      Vind hier meer informatie over de toegankelijkheid principes en richtlijnen:<% api.principes.forEach(principe=> {
        %>
        <%= principe.titel %>
          <% }) %>
    </article>

    <% api.principes.forEach( principe=> { %>
      <article>
        <h2>
          <%= principe.titel %>
        </h2>
        <p><%- principe.beschrijving.html %>
            <hr>
        </p>

        // Voert een actie uit te voeren voor elk item in de API 

        <% principe.richtlijnen.forEach( richtlijn=> { %>
          <button class="accordion">
            <%= richtlijn.titel %>
          </button>
          <div class="panel">
            <p>
            <h3>Richtlijn: <%= richtlijn.index %>
            </h3>
            <%- richtlijn.uitleg.html %>
              </p>
          </div>
          <% }) %>

      </article>

      <% }) %>




        <%- include('./partials/foot') %>